torch>=2.1.0
transformers==4.45.0
accelerate
sentencepiece
sacremoses
open_clip_torch
sentence-transformers
qdrant-client
peft
bitsandbytes
trl
deep-translator
datasets
nltk
evaluate
bert-score
spacy
streamlit>=1.35.0
Pillow
kagglehub
huggingface_hub
python-dotenv
pandas
numpy
requests
